<h1>Here are all my contacts:</h1>

<% @contacts.each do |contact| %>
<a href="/my_contacts/<%= contact.id %>"><p><%= contact.id %> <%= contact.first_name %> <%= contact.last_name %></p>
<p>-------</p>
</a>



<% end %>