<%= form_tag "/my_contacts", method: :post do %>
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" name="first_name" >
  </div>
  <div>
    <input type="submit" value="Enter the new person to you great contact list!">
  </div>
<% end %>