<h1>This contact is:</h1>

<p> Name: <%= @contact.full_name %></p>

<p>Email: <%= @contact.email %></p>

<%= link_to "Edit this contact", "/my_contacts/#{@contact.id}/edit", method: :get %>
<p> </p>
<div>
<%= link_to "Delete this contact.", "/my_contacts/#{@contact.id}", method: :delete %>
</div>