// Place all the styles related to the MyContacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$my_favorite_color: #ff3333;

body {
  background-color: white; 
}

#contact1 {
  color: #809fff;
 
}